# **Exploratory Data Analisis** (EDA)
En este notebook me enfoco en:
- Recolecci贸n de datos desde distintas fuentes
- Identificado diversas estructuras de los datasets
- An谩lisis de nulos, duplicados, relaciones
- Checklist de problemas identificados

## 1. Configuraci贸n inicial
- Importaci贸n de librerias

In [ ]:

import sys, os

# Obtengo la ruta ra铆z del proyecto (subo un nivel desde /notebooks)
project_root = os.path.abspath("../")

# La agrego al path si no est谩
if project_root not in sys.path:
    sys.path.append(project_root)

# Importado de librer铆as
from scripts.utils import realizar_request, detectar_outliers_iqr
import pandas as pd
import os
import json
import subprocess
import tabula

## 2. Obtenci贸n de datasets

- Obtenci贸n del dataset de ventas y paso a DataFrame

In [4]:
# Cargar credenciales de Kaggle desde un archivo JSON
with open(r"..\kaggle_keys.json") as f:
    kaggle_creds = json.load(f)

os.environ["KAGGLE_USERNAME"] = kaggle_creds["username"]
os.environ["KAGGLE_KEY"] = kaggle_creds["key"]

dataset = "virtualschool/restaurant-cost-and-sales-dataset"

# Ejecuta el comando kaggle datasets download
subprocess.run([
    "kaggle", "datasets", "download",
    "-d", dataset,
    "--unzip",
    "-p", '../data/raw'
])

dir_raw = r"..\data\raw"
excel_restaurante = dir_raw + r"\Restaurant_Data.xlsx"

df_orders = pd.read_excel(excel_restaurante, sheet_name="Orders")
df_items = pd.read_excel(excel_restaurante, sheet_name="Items")

- Dataset del INDEC

In [5]:
path_informe = dir_raw + r"\INFORME_INDEC_1-10-25.pdf"

# Obtener DataFrame que me interesa
df_indec = tabula.read_pdf(
    path_informe,
    pages=12,
    multiple_tables=True,
    encoding='latin1'  
)[0]

- Valor del d贸lar

In [ ]:
url_dolarapi = 'https://dolarapi.com/v1/dolares/blue'

request_ok, data = realizar_request(url_dolarapi)
if not request_ok:
    raise RuntimeError("No se pudo obtener el valor del d贸lar desde la API.")
dolar_blue = float(data.get("venta"))

## 3. Analizado de DataFrames y detecci贸n de tareas
- Vista general

In [7]:
print(df_orders.info())
print('------------------')
print(df_items.info())
print('------------------')
print(df_indec.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73000 entries, 0 to 72999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          73000 non-null  datetime64[ns]
 1   Time          73000 non-null  object
 2   Order Number  73000 non-null  int64
 3   Item          73000 non-null  int64
 4   Count         73000 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 2.8+ MB
None
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Item          71 non-null     int64
 1   Category      71 non-null     object
 2   Sub Category  68 non-null     object
 3   Item Name     68 non-null     object
 4   Price         71 non-null     int64
 5   Cost          71 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.5+ KB
None
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     object
 1   Unnamed: 1  61 non-null     object
 2   Unnamed: 2  61 non-null     object
 3   Precios     62 non-null     object
 4   Unnamed: 3  0 non-null      float64
 5   Variaci贸n   63 non-null     object
dtypes: float64(1), object(5)
memory usage: 3.1+ KB
None

> Dado a lo que pareciera ser un problema en las columnas del INDEC, realizo una vista m谩s detallada

In [8]:
print(df_indec.head())

  Unnamed: 0 Unnamed: 1 Unnamed: 2     Precios  Unnamed: 3        Variaci贸n
0        NaN  Unidad de        NaN         NaN         NaN       porcentual
1   Variedad        NaN        NaN         NaN         NaN              NaN
2        NaN     medida    Octubre  Septiembre         NaN  respecto al mes
3        NaN        NaN    de 2025     de 2025         NaN         anterior
4        NaN        NaN        NaN       Pesos         NaN                %

> Los nombres de las columnas parecieran no estar perfectamente alineados con el encabezado del DataFrame, pero est谩n presentes!

- Ahora, **detecci贸n de nulos y duplicados**:

In [ ]:
dfs = {
    "df_orders": df_orders,
    "df_items": df_items,
    "df_indec": df_indec
}

for nombre, df in dfs.items():
    print(f"-> {nombre} - {df.isnull().sum().sum()} valores nulos --- {df.duplicated().sum().sum()} valores duplicados")

-> df_orders - 0 valores nulos --- 0 valores duplicados
-> df_items - 6 valores nulos --- 0 valores duplicados
-> df_indec - 77 valores nulos --- 0 valores duplicados

- B煤squeda de outliers

In [ ]:
for nombre, df in dfs.items():
    print(f"\n Analizando: {nombre}")
    
    # Tomar solo columnas num茅ricas
    cols_numericas = df.select_dtypes(include="number").columns
    
    for col in cols_numericas:
        outliers = detectar_outliers_iqr(df, col)
        print(f"  - Columna {col}: {len(outliers)} outliers")

## 4. Pasado a formato CSV para la posterior realizaci贸n de tareas

In [ ]:
staging_dir = r"..\data\staging"

# Almacenado de los DataFrames en formato CSV
df_orders.to_csv(staging_dir + r"\orders.csv", index=False)
df_items.to_csv(staging_dir + r"\items.csv", index=False)
df_indec.to_csv(staging_dir + r"\indec.csv", index=False)

# Guardo el valor del d贸lar blue en un archivo de texto
with open(staging_dir + r"\dolar_blue.txt", "w") as f:
    f.write(str(dolar_blue))

## 5. S铆ntesis del Exploratory Data Analysis

**Se puede apreciar f谩cilmente:**
- Diferencias de lenguaje: INDEC en espa帽ol, pero ventas en ingl茅s
- Diferencias entre formatos (preferible pasarlo todo a `snake_case`)
- Valores nulos varios: 77 en el INDEC y 6 en Items
- Formateo necesario del DataFrame del INDEC con asignaci贸n de columnas
- Relaci贸n entre Items (dimensi贸n) y Orders (factos)

**A realizar:**
- Asignaci贸n de columnas que me interesan del INDEC (`Variedad`, `Unidad de medida` y `Octubre de 2025`)
- Limpieza de valores nulos
- Traducci贸n al espa帽ol del dataset de Kaggle
- Formateo a `snake_case` y eliminaci贸n de tildes
- Pasado de USD a ARS
- Generalizaci贸n de unidades de medida a kilos.