# **Exploratory Data Analisis** (EDA)
En este notebook me enfoco en:
- Recolección de datos desde distintas fuentes
- Identificado diversas estructuras de los datasets
- Análisis de nulos, duplicados, relaciones
- Checklist de problemas identificados

## 1. Configuración inicial
- Importación de librerias

In [3]:
import sys, os

# Obtengo la ruta raíz del proyecto (subo un nivel desde /notebooks)
project_root = os.path.abspath("../")

# La agrego al path si no está
if project_root not in sys.path:
    sys.path.append(project_root)

# Importado de librerías
from scripts.utils import realizar_request, detectar_outliers_iqr, pasar_snake_case
import pandas as pd
import json
import subprocess
import tabula

## 2. Obtención de datasets

- Obtención del dataset de ventas y paso a DataFrame

In [ ]:
# Cargar credenciales de Kaggle desde un archivo JSON
with open(r"..\kaggle_keys.json") as f:
    kaggle_creds = json.load(f)

os.environ["KAGGLE_USERNAME"] = kaggle_creds["username"]
os.environ["KAGGLE_KEY"] = kaggle_creds["key"]

dataset = "virtualschool/restaurant-cost-and-sales-dataset"

# Ejecuta el comando kaggle datasets download
subprocess.run([
    "kaggle", "datasets", "download",
    "-d", dataset,
    "--unzip",
    "-p", '../data/raw'
])

dir_raw = r"..\data\raw"
excel_restaurante = dir_raw + r"\Restaurant_Data.xlsx"

df_orders = pd.read_excel(excel_restaurante, sheet_name="Orders")
df_items = pd.read_excel(excel_restaurante, sheet_name="Items")

- Dataset del INDEC

In [5]:
path_informe = dir_raw + r"\INFORME_INDEC_1-10-25.pdf"

# Obtener DataFrame que me interesa
df_indec = tabula.read_pdf(
    path_informe,
    pages=12,
    multiple_tables=True,
    encoding='latin1'  
)[0]

- Valor del dólar

In [6]:
url_dolarapi = 'https://dolarapi.com/v1/dolares/blue'

request_ok, data = realizar_request(url_dolarapi)
if not request_ok:
    raise RuntimeError("No se pudo obtener el valor del dólar desde la API.")
dolar_blue = float(data.get("venta"))

## 3. Analizado de DataFrames y detección de tareas
- Vista general

In [7]:
print(df_orders.info())
print('------------------')
print(df_items.info())
print('------------------')
print(df_indec.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73000 entries, 0 to 72999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          73000 non-null  datetime64[ns]
 1   Time          73000 non-null  object
 2   Order Number  73000 non-null  int64
 3   Item          73000 non-null  int64
 4   Count         73000 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 2.8+ MB
None
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Item          71 non-null     int64
 1   Category      71 non-null     object
 2   Sub Category  68 non-null     object
 3   Item Name     68 non-null     object
 4   Price         71 non-null     int64
 5   Cost          71 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.5+ KB
None
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     object
 1   Unnamed: 1  61 non-null     object
 2   Unnamed: 2  61 non-null     object
 3   Precios     62 non-null     object
 4   Unnamed: 3  0 non-null      float64
 5   Variación   63 non-null     object
dtypes: float64(1), object(5)
memory usage: 3.1+ KB
None

> Dado a lo que pareciera ser un problema en las columnas del INDEC, realizo una vista más detallada

In [8]:
print(df_indec.head())

  Unnamed: 0 Unnamed: 1 Unnamed: 2     Precios  Unnamed: 3        Variación
0        NaN  Unidad de        NaN         NaN         NaN       porcentual
1   Variedad        NaN        NaN         NaN         NaN              NaN
2        NaN     medida    Octubre  Septiembre         NaN  respecto al mes
3        NaN        NaN    de 2025     de 2025         NaN         anterior
4        NaN        NaN        NaN       Pesos         NaN                %

> Los nombres de las columnas parecieran no estar perfectamente alineados con el encabezado del DataFrame, pero están presentes!

- Ahora, **detección de nulos y duplicados**:

In [9]:
dfs = {
    "df_orders": df_orders,
    "df_items": df_items,
    "df_indec": df_indec
}

for nombre, df in dfs.items():
    print(f"\n-> {nombre} - {df.isnull().sum().sum()} valores nulos --- {df.duplicated().sum().sum()} valores duplicados")

-> df_orders - 0 valores nulos --- 0 valores duplicados

-> df_items - 6 valores nulos --- 0 valores duplicados

-> df_indec - 77 valores nulos --- 0 valores duplicados

- Búsqueda de outliers

In [10]:
# DataFrame rápido para la detección de
indec_outliers = pd.DataFrame()
indec_outliers = df_indec
indec_outliers["precio"] = indec_outliers.iloc[5:, 3].dropna().map(pasar_snake_case).astype(float)

outliers_indec = detectar_outliers_iqr(indec_outliers, 'precio')
print(f'-> df_indec - Columna precio: {len(outliers_indec)}\n')

outliers_precio = detectar_outliers_iqr(df_items, 'Price')
outliers_costo = detectar_outliers_iqr(df_items, 'Cost')
print(f'-> df_indec - Columna Price: {len(outliers_precio)} - Columna Cost: {len(outliers_costo)}\n')

outliers_count = detectar_outliers_iqr(df_orders, 'Count')
print(f'-> df_indec - Columna Count: {len(outliers_precio)}\n')

-> df_indec - Columna precio: 7

-> df_indec - Columna Price: 0 - Columna Cost: 0

-> df_indec - Columna Count: 0

> **Nota:** Las únicas columnas que me interesan son aquellas numéricas que no contienen FKs

- Dado a los outliers en una tabla de dimensiones, intento analizarlos más de cerca

In [11]:
print(outliers_indec)

        Unnamed: 0 Unnamed: 1 Unnamed: 2    Precios  Unnamed: 3 Variación  \
15         Cuadril         Kg  14.686,83  14.247,87         NaN       3,1
16           Nalga         Kg  15.191,59  14.598,47         NaN       4,1
21    Jamón cocido         Kg  16.982,62  16.684,86         NaN       1,8
23          Salame         kg  20.609,50  20.258,10         NaN       1,7
28  Queso pategrás         kg  22.226,88  22.084,06         NaN       0,6
29     Queso sardo         kg  21.594,91  21.643,24         NaN      -0,2
53     Café molido      500 g  12.120,17  11.954,58         NaN       1,4

      precio
15  14247.87
16  14598.47
21  16684.86
23  20258.10
28  22084.06
29  21643.24
53  11954.58

En este caso en particular, los outliers son razonables y concuerdan con los productos

## 4. Pasado a formato CSV para la posterior realización de tareas

- Revisión de relaciones

In [12]:
print(set(df_orders.columns) & set(df_items.columns))

{'Item'}

In [13]:
staging_dir = r"..\data\staging"

# Almacenado de los DataFrames en formato CSV
df_orders.to_csv(staging_dir + r"\orders.csv", index=False)
df_items.to_csv(staging_dir + r"\items.csv", index=False)
df_indec.to_csv(staging_dir + r"\indec.csv", index=False)

# Guardo el valor del dólar blue en un archivo de texto
with open(staging_dir + r"\dolar_blue.txt", "w") as f:
    f.write(str(dolar_blue))

## 5. Síntesis del Exploratory Data Analysis

**Se puede apreciar fácilmente:**
- Diferencias de lenguaje: INDEC en español, pero ventas en inglés
- Diferencias entre formatos (preferible pasarlo todo a `snake_case`)
- Valores nulos varios: 77 en el INDEC y 6 en Items
- Formateo necesario del DataFrame del INDEC con asignación de columnas
- Relación entre Items (dimensión) y Orders (factos) -> Comporten la columna `Item`

**A realizar:**
- Asignación de columnas que me interesan del INDEC (`Variedad`, `Unidad de medida` y `Octubre de 2025`)
- Limpieza de valores nulos
- Traducción al español del dataset de Kaggle
- Formateo a `snake_case` y eliminación de tildes
- Pasado de USD a ARS
- Generalización de unidades de medida a kilos.